{{ ansible_managed | comment }}

# Terraform Enterprise settings.
TFE_IMAGE = "{{ tfe_image }}"
TFE_LICENSE = "{{ tfe_license }}"
TFE_HOSTNAME = "{{ tfe_hostname }}"
TFE_ENCRYPTION_PASSWORD = "{{ tfe_encryption_password }}"
TFE_IACT_SUBNETS = "{{ tfe_iact_subnets | join(',') }}"

{% if tfe_operational_mode == "active-active" or tfe_operational_mode == "external" %}
# Database settings.
TFE_DATABASE_HOST = "{{ tfe_database_host }}"
TFE_DATABASE_USER = "{{ tfe_database_user }}"
TFE_DATABASE_PASSWORD = "{{ tfe_database_password }}"
TFE_DATABASE_NAME = "{{ tfe_database_name }}"
TFE_DATABASE_PARAMETERS = "{{ tfe_database_parameters }}"

# Object storage settings.
TFE_OBJECT_STORAGE_S3_ENDPOINT = "{{ tfe_object_storage_s3_endpoint }}"
TFE_OBJECT_STORAGE_S3_USE_INSTANCE_PROFILE = "{{ tfe_object_storage_s3_use_instance_profile | ternary('true', 'false') }}"
TFE_OBJECT_STORAGE_S3_BUCKET = "{{ tfe_object_storage_s3_bucket }}"
TFE_OBJECT_STORAGE_S3_ACCESS_KEY_ID = "{{ tfe_object_storage_s3_access_key_id }}"
TFE_OBJECT_STORAGE_S3_SECRET_ACCESS_KEY = "{{ tfe_object_storage_s3_secret_access_key }}"
TFE_OBJECT_STORAGE_S3_REGION = "{{ tfe_object_storage_s3_region }}"
{% endif %}

{% if tfe_operational_mode == "active-active" %}
# Redis settings.
TFE_REDIS_HOST = "{{ tfe_redis_host }}"
TFE_REDIS_USER = "{{ tfe_redis_user  }}"
TFE_REDIS_PASSWORD = "{{ tfe_redis_password }}"
TFE_REDIS_USE_TLS = "{{ tfe_redis_use_tls | ternary('true', "false") }}"
TFE_REDIS_USE_AUTH = "{{ tfe_redis_use_auth | ternary('true', 'false') }}"
{% endif %}

# Vault settings.
TFE_VAULT_CLUSTER_ADDRESS: "{{ tfe_vault_cluster_address }}"
