{{ ansible_managed | comment }}

---
name: terraform-enterprise
services:
  tfe:
    image: "${TFE_IMAGE}"
    restart: on-failure
    environment:
      TFE_LICENSE: "${TFE_LICENSE}"
      TFE_HOSTNAME: "${TFE_HOSTNAME}"
      TFE_ENCRYPTION_PASSWORD: "{$TFE_ENCRYPTION_PASSWORD}"
      TFE_OPERATIONAL_MODE: "{{ tfe_operational_mode }}"
      TFE_DISK_CACHE_VOLUME_NAME: "${COMPOSE_PROJECT_NAME}_terraform-enterprise-cache"
      TFE_RUN_PIPELINE_DRIVER: "docker"
      TFE_TLS_CERT_FILE: "/etc/ssl/private/terraform-enterprise/cert.pem"
      TFE_TLS_KEY_FILE: "/etc/ssl/private/terraform-enterprise/key.pem"
      TFE_TLS_CA_BUNDLE_FILE: "/etc/ssl/private/terraform-enterprise/bundle.pem"
      TFE_IACT_SUBNETS: "${TFE_IACT_SUBNETS}"
      TFE_CAPACITY_CONCURRENCY: "${TFE_CAPACITY_CONCURRENCY}"
{% if tfe_log_forwarding_config_path is defined %}
      TFE_LOG_FORWARDING_ENABLED: "${TFE_LOG_FORWARDING_ENABLED}"
      TFE_LOG_FORWARDING_CONFIG_PATH: "${TFE_LOG_FORWARDING_CONFIG_PATH}"
{% endif %}
{% if tfe_operational_mode == "active-active" or tfe_operational_mode == "external" %}
      TFE_DATABASE_USER: "${TFE_DATABASE_USER}"
      TFE_DATABASE_PASSWORD: "${TFE_DATABASE_PASSWORD}"
      TFE_DATABASE_HOST: "${TFE_DATABASE_HOST}"
      TFE_DATABASE_NAME: "${TFE_DATABASE_NAME}"
      TFE_DATABASE_PARAMETERS: "${TFE_DATABASE_PARAMETERS}"
      TFE_OBJECT_STORAGE_TYPE: "s3"
      TFE_OBJECT_STORAGE_S3_ENDPOINT: "${TFE_OBJECT_STORAGE_S3_ENDPOINT}"
      TFE_OBJECT_STORAGE_S3_USE_INSTANCE_PROFILE: "${TFE_OBJECT_STORAGE_S3_USE_INSTANCE_PROFILE}"
      TFE_OBJECT_STORAGE_S3_ACCESS_KEY_ID: "${TFE_OBJECT_STORAGE_S3_ACCESS_KEY_ID}"
      TFE_OBJECT_STORAGE_S3_SECRET_ACCESS_KEY: "${TFE_OBJECT_STORAGE_S3_SECRET_ACCESS_KEY}"
      TFE_OBJECT_STORAGE_S3_REGION: "${TFE_OBJECT_STORAGE_S3_REGION}"
      TFE_OBJECT_STORAGE_S3_BUCKET: "${TFE_OBJECT_STORAGE_S3_BUCKET}"
{% endif %}
{% if tfe_operational_mode == "active-active" %}
      TFE_REDIS_HOST: "${TFE_REDIS_HOST}"
      TFE_REDIS_USER: "${TFE_REDIS_USER}"
      TFE_REDIS_PASSWORD: "${TFE_REDIS_PASSWORD}"
      TFE_REDIS_USE_TLS: "${TFE_REDIS_USE_TLS}"
      TFE_REDIS_USE_AUTH: "${TFE_REDIS_USE_AUTH}"
      TFE_VAULT_CLUSTER_ADDRESS: "${TFE_VAULT_CLUSTER_ADDRESS}"
{% endif %}
    cap_add:
      - IPC_LOCK
    read_only: true
    tmpfs:
      - /tmp:mode=01777
      - /run
      - /var/log/terraform-enterprise
    ports:
      - "80:80"
      - "443:443"
{% if tfe_operational_mode == "active-active" %}
      - "8201:8201"
{% endif %}
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /run/docker.sock
      - type: bind
        source: ./certs
        target: /etc/ssl/private/terraform-enterprise
{% if tfe_operational_mode == "disk" %}
      - type: bind
        source: /var/lib/terraform-enterprise
        target: /var/lib/terraform-enterprise
{% endif %}
      - type: volume
        source: terraform-enterprise-cache
        target: /var/cache/tfe-task-worker/terraform
{% if tfe_log_forwarding_config_path is defined and tfe_log_forwarding_config_path != "" %}
      - type: bind
        source: ./fluent-bit
        target: /etc/terraform-enterprise/fluent-bit
{% endif %}
volumes:
  terraform-enterprise-cache:
