{{ ansible_managed | comment }}

{% for instance in keepalived_vrrp_instances %}
vrrp_instance {{ instance.name }} {
        state {{ instance.state }}
        interface {{ instance.interface }}
        virtual_router_id {{ instance.virtual_router_id }}
        priority {{ instance.priority }}
        authentication {
              auth_type {{ instance.authentication.auth_type }}
              auth_pass {{ instance.authentication.auth_pass }}
        }
        virtual_ipaddress {
{% for ip in instance.virtual_ipaddresses %}
              {{ ip.name }}/{{ ip.cidr }}
{% endfor %}
        }
{% endfor %}
}
