{{ ansible_managed | comment }}

{% if bareos_console_directors is defined %}
{% for director in bareos_console_directors %}
Director {
   Name = "{{ director.name }}"
{% if director.description is defined %}
   Description = "{{ director.description }}"
{% endif %}
{% if director.address is defined %}
   Address = "{{ director.address }}"
{% endif %}
{% if director.password is defined %}
   Password = "[md5]{{ director.password | md5 }}"
{% endif %}
{% if director.tls_enable is defined %}
   TLS Enable = {{ director.tls_enable | ternary('Yes', 'No') }}
{% endif %}
{% if director.tls_verify_peer is defined %}
   TLS Verify Peer = {{ director.tls_verify_peer | ternary('Yes', 'No') }}
{% endif %}
}
{% endfor %}
{% endif %}
