{{ ansible_managed | comment }}
# /etc/rsyslog.conf configuration file for rsyslog
#
# For more information install rsyslog-doc and see
# /usr/share/doc/rsyslog-doc/html/configuration/index.html


#################
#### MODULES ####
#################

# Provides support for local system logging (e.g. via logger command)
# And turns off message reception via local log socket;
# Local messages are retrieved through imjournal now.
{{ '' if 'imuxsock' in rsyslog_mods else '#' }}module(load="imuxsock"{{ ' SysSock.Use="off"' if not rsyslog_imuxsock_syssock else '' }})

# Provides access to the systemd journal
# And provides file to store the position in the journal
{{ '' if 'imjournal' in rsyslog_mods else '#' }}module(load="imjournal" StateFile="imjournal.state"{{ ' WorkAroundJournalBug="on"' if rsyslog_workaroundjournalbug else '' }})

# provides kernel logging support
{{ '' if 'imklog' in rsyslog_mods else '#' }}module(load="imklog")

# provides --MARK-- message capability
{{ '' if 'immark' in rsyslog_mods else '#' }}module(load="immark")

# provides access to specific log file
{{ '' if 'imfile' in rsyslog_mods else '#' }}module(load="imfile")

# provides UDP syslog reception
{{ '' if rsyslog_receiver else '#' }}module(load="imudp") # needs to be done just once
{{ '' if rsyslog_receiver else '#' }}input(type="imudp" port="514")

# provides TCP syslog reception
{{ '' if rsyslog_receiver else '#' }}module(load="imtcp") # needs to be done just once
{{ '' if rsyslog_receiver else '#' }}input(type="imtcp" port="514")

###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
module(load="builtin:omfile" Template="RSYSLOG_TraditionalFileFormat")

#
# Set the default permissions for all log files.
#
{% if rsyslog_fileowner is defined %}
$FileOwner {{ rsyslog_fileowner }}
{% endif %}
{% if rsyslog_filegroup is defined %}
$FileGroup {{ rsyslog_filegroup }}
{% endif %}
$FileCreateMode {{ rsyslog_filecreatemode }}
$DirCreateMode {{ rsyslog_dircreatemode }}
{% if rsyslog_umask is defined %}
$Umask {{ rsyslog_umask }}
{% endif %}

#
# Where to place spool and state files
#
global(workDirectory="{{ rsyslog_work_directory }}")

{% if rsyslog_preservefqdn %}
#
# Use FQDN (usefull when sending logs to another system)
#
$PreserveFQDN on
{% endif %}

#
# Include all config files in /etc/rsyslog.d/
#
include(file="/etc/rsyslog.d/*.conf" mode="optional")

###############
#### RULES ####
###############

{% if rsyslog_default_rules is defined %}
{% for item in rsyslog_default_rules %}
{{ item.rule }} {{ item.logpath }}
{% endfor %}
{% endif %}

{% if rsyslog_remote is defined %}
#########################
#### FORWARDING RULE ####
#########################

action(type="omfwd"
# # An on-disk queue is created for this action. If the remote host is
# # down, messages are spooled to disk and sent when it is up again.
#queue.filename="fwdRule1"       # unique name prefix for spool files
#queue.maxdiskspace="1g"         # 1gb space limit (use as much as possible)
#queue.saveonshutdown="on"       # save messages to disk on shutdown
#queue.type="LinkedList"         # run asynchronously
#action.resumeRetryCount="-1"    # infinite retries if host is down
# # Remote Logging (we use TCP for reliable delivery)
# # remote_host is: name/ip, e.g. 192.168.0.1, port optional e.g. 10514
#Target="remote_host" Port="XXX" Protocol="tcp")
Target="{{ rsyslog_remote }}" Port="{{ rsyslog_remote_port }}" Protocol="{{ 'tcp' if rsyslog_remote_tcp else 'udp' }}" {{ '' if not rsyslog_remote_template else 'template="' + rsyslog_remote_template + '"' }})
# ### end of the forwarding rule ###
{% endif %}
