{{ ansible_managed | comment }}
# /etc/rsyslog.conf configuration file for rsyslog
#
# For more information install rsyslog-doc and see
# /usr/share/doc/rsyslog-doc/html/configuration/index.html


#################
#### MODULES ####
#################

# The imjournal module bellow is now used as a message source instead of imuxsock.
{{ '#' if not 'imuxsock'  in rsyslog_mods else '' }}$ModLoad imuxsock  # provides support for local system logging (e.g. via logger command)
{{ '#' if not 'imjournal' in rsyslog_mods else '' }}$ModLoad imjournal # provides access to the systemd journal
{{ '#' if not 'imklog'    in rsyslog_mods else '' }}$ModLoad imklog    # provides kernel logging support
{{ '#' if not 'immark'    in rsyslog_mods else '' }}$ModLoad immark    # provides --MARK-- message capability
{{ '#' if not 'imfile'    in rsyslog_mods else '' }}$ModLoad imfile    # provides access to specific log file

# provides UDP syslog reception
{{ '' if rsyslog_receiver else '#' }}$ModLoad imudp
{{ '' if rsyslog_receiver else '#' }}$UDPServerRun 514

# provides TCP syslog reception
{{ '' if rsyslog_receiver else '#' }}$ModLoad imtcp
{{ '' if rsyslog_receiver else '#' }}$InputTCPServerRun 514


###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

#
# Set the default permissions for all log files.
#
$FileCreateMode {{ rsyslog_filecreatemode }}
$DirCreateMode {{ rsyslog_dircreatemode }}

#
# Where to place spool and state files
#
$WorkDirectory {{ rsyslog_work_directory }}

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig /etc/rsyslog.d/*.conf

{% if rsyslog_preservefqdn %}
#
# Use FQDN (usefull when sending logs to another system)
#
$PreserveFQDN on
{% endif %}

#
# File syncing capability is disabled by default. This feature is usually not required,
# not useful and an extreme performance hit
#
#$ActionFileEnableSync on

#
# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
#
{{ '#' if 'imuxsock' in rsyslog_mods else '' }}$OmitLocalLogging on

#
# File to store the position in the journal
#
{{ '#' if not 'imjournal' in rsyslog_mods else '' }}$IMJournalStateFile imjournal.state

###############
#### RULES ####
###############

{% if rsyslog_default_rules is defined %}
{% for item in rsyslog_default_rules %}
{{ item.rule }} {{ item.logpath }}
{% endfor %}
{% endif %}

{% if rsyslog_remote is defined %}
#########################
#### FORWARDING RULE ####
#########################

# The statement between the begin ... end define a SINGLE forwarding
# rule. They belong together, do NOT split them. If you create multiple
# forwarding rules, duplicate the whole block!
# Remote Logging (we use TCP for reliable delivery)
#
# An on-disk queue is created for this action. If the remote host is
# down, messages are spooled to disk and sent when it is up again.
#$ActionQueueFileName fwdRule1 # unique name prefix for spool files
#$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
#$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
#$ActionQueueType LinkedList   # run asynchronously
#$ActionResumeRetryCount -1    # infinite retries if host is down
# remote host is: name/ip:port, e.g. 192.168.0.1:514, port optional
#*.* @@remote-host:514
{{ rsyslog_remote_selector }} {{ '@@' if rsyslog_remote_tcp else '@' }}{{ rsyslog_remote }}:{{ rsyslog_remote_port }}
# ### end of the forwarding rule ###
{% endif %}
