{{ ansible_managed | comment }}

{% if item.enabled is defined and item.enabled or item.enabled is not defined %}
Director {
  Name = "{{ item.name }}"
  Password = "{{ item.password }}"
{% if item.tls_enable is defined %}
  TLS Enable = {{ item.tls_enable | ternary('Yes', 'No') }}
{% endif %}
{% if item.tls_verify_peer is defined %}
  TLS Verify Peer = {{ item.tls_verify_peer | ternary('Yes', 'No') }}
{% endif %}
}
{% else %}
# This file is not enabled.
{% endif %}
