{{ ansible_managed | comment }}

log_level = "{{ nomad_agent_log_level }}"
data_dir  = "{{ nomad_agent_data_dir }}"
name      = "{{ nomad_agent_name }}"

# Enable the client
client {
    enabled = true

    # For demo assume we are talking to server1. For production,
    # this should be like "nomad.service.consul:4647" and a system
    # like Consul used for service discovery.
    servers = [{% for server in nomad_agent_servers %}"{{ server.name }}:{{ server.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
}

# Modify our port to avoid a collision with server1
ports {
    http = 5656
}

# Disable the dangling container cleanup to avoid interaction with other clients
plugin "docker" {
  config {
    gc {
      dangling_containers {
        enabled = false
      }
    }
  }
}
