{{ ansible_managed | comment }}

data_dir  = "{{ nomad_server_data_dir }}"
bind_addr = "{{ nomad_server_bind_addr }}"
log_level = "{{ nomad_server_log_level }}"

# Enable the server
server {
    enabled = true

    # Self-elect, should be 3 or 5 for production
    bootstrap_expect = {{ nomad_server_bootstrap_expect }}
}
