listening-port={{ turn_listening_port }}
{% if turn_fingerprint %}
fingerprint
{% endif %}
{% if turn_lt_cred_mech %}
lt-cred-mech
{% endif %}
{% if turn_use_auth_secret %}
use-auth-secret
{% endif %}
static-auth-secret={{ turn_static_auth_secret }}
realm={{ turn_realm }}
total-quota={{ turn_total_quota }}
bps-capacity={{ turn_bps_quota }}
stale-nonce={{ turn_stale_nonce }}
{% if turn_no_loopback_peers %}
no-loopback-peers
{% endif %}
{% if turn_no_multicast_peers %}
no-multicast-peers
{% endif %}
{% if turn_simple_log %}
simple-log
{% endif %}
cli-password={{ turn_cli_password }}
server-name={{ turn_server_name }}
listening-ip={{ turn_listening_ip }}
external-ip={{ turn_external_ip }}
pidfile={{ turn_pidfile }}
