# {{ ansible_managed }}

{% if bareos_fd_directors is defined %}
{% for director in bareos_fd_directors %}
Director {
  Name = {{ director.name }}
  Password = "{{ director.password }}"
  Monitor = {{ director.monitor | ternary('yes','no') }}
}
{% endfor %}
{% endif %}
