{{ ansible_managed | comment }}
Alias /owncloud "{{ owncloud_destination }}/owncloud"

<Directory {{ owncloud_destination }}/owncloud/>
  Options +FollowSymlinks
  AllowOverride All

 <IfModule mod_dav.c>
  Dav off
 </IfModule>

SetEnv HOME {{ owncloud_destination }}/owncloud
SetEnv HTTP_HOME {{ owncloud_destination }}/owncloud

</Directory>
