<?php
{{ ansible_managed | comment('c') }}

// Moodle configuration file

unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = '{{ moodle_database_type }}';
$CFG->dblibrary = 'native';
$CFG->dbhost    = '{{ moodle_database_hostname }}';
$CFG->dbname    = '{{ moodle_database_name }}';
$CFG->dbuser    = '{{ moodle_database_username }}';
$CFG->dbpass    = '{{ moodle_database_password }}';
$CFG->prefix    = '{{ moodle_database_prefix }}';
$CFG->dboptions = array (
  'dbpersist' => 0,
  'dbport' => '',
  'dbsocket' => '',
  'dbcollation' => 'utf8mb4_unicode_ci',
);

$CFG->wwwroot   = '{{ moodle_wwwroot }}';
$CFG->dataroot  = '{{ moodle_data_directory }}';
$CFG->admin     = 'admin';

$CFG->directorypermissions = {{ moodle_directory_mode }};

require_once(__DIR__ . '/lib/setup.php');

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
