TFC_ADDRESS="{{ terraform_agent_terraform_enterprise_address }}"
TFC_AGENT_TOKEN="{{ terraform_agent_token }}"
TFC_AGENT_NAME="{{ terraform_agent_name }}"
TFC_AGENT_LOG_LEVEL="{{ terraform_agent_log_level }}"
