{{ ansible_managed | comment }}
default-lease-time {{ dhcpd_default_lease_time }};
max-lease-time {{ dhcpd_max_lease_time }};
option subnet-mask {{ dhcpd_subnet_mask }};
option broadcast-address {{ dhcpd_broadcast_address }};
option routers {{ dhcpd_routers }};
option domain-name-servers {{ dhcpd_domain_name_servers }};
option domain-search "{{ dhcpd_domain_search }}";

{% for subnet in dhcpd_subnets %}
subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
{% if subnet.range_start is defined and subnet.range_end is defined %}
  range {{ subnet.range_start }} {{ subnet.range_end }};
{% endif %}
{% if dhcpd_filename is defined %}  filename "{{ dhcpd_filename }}";
{% endif %}
{% if dhcpd_next_server is defined %}  next-server {{ dhcpd_next_server }};
{% endif %}
}
{% endfor %}
