{{ ansible_managed | comment }}
DHCPD_INTERFACE="{{ dhcpd_ipv4_interface }}"
DHCPD6_INTERFACE=""
DHCPD_IFUP_RESTART=""
DHCPD6_IFUP_RESTART=""
DHCPD_RUN_CHROOTED="yes"
DHCPD6_RUN_CHROOTED="yes"
DHCPD_CONF_INCLUDE_FILES="/etc/dhcpd.d"
DHCPD6_CONF_INCLUDE_FILES="/etc/dhcpd6.d"
DHCPD_RUN_AS="dhcpd"
DHCPD6_RUN_AS="dhcpd"
DHCPD_OTHER_ARGS=""
DHCPD6_OTHER_ARGS=""
