{{ ansible_managed | comment }}
Alias /nextcloud "{{ nextcloud_destination }}/nextcloud"

<Directory {{ nextcloud_destination }}/nextcloud/>
  Require all granted
  AllowOverride All
  Options FollowSymlinks MultiViews

 <IfModule mod_dav.c>
   Dav off
 </IfModule>

</Directory>
