{{ ansible_managed | comment }}

<Directory "{{ item.path }}">
{% if item.allow_override is defined %}  AllowOverride {{ item.allow_override }}{% endif %}

{% if item.options is defined %}  Options {% for option in item.options %}{{ option }}{% if not loop.last %} {% endif %}{% endfor %}{% endif %}
  Require valid-user
</Directory>
