{{ ansible_managed | comment }}

# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

Listen {{ httpd_port }}

<IfModule ssl_module>
	Listen {{ httpd_ssl_port }}
</IfModule>

<IfModule mod_gnutls.c>
	Listen {{ httpd_ssl_port }}
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
