# {{ ansible_managed }}

Director {
  Name = {{ bareos_dir_hostname }}
  Password = {{ bareos_dir_password }}
  QueryFile = "{{ bareos_dir_queryfile }}"
  Maximum Concurrent Jobs = {{ bareos_dir_max_concurrent_jobs }}
  Messages = {{ bareos_dir_message }}
}
