{{ ansible_managed | comment }}

{% if item.enabled is defined and item.enabled or item.enabled is not defined %}
Schedule {
  Name = "{{ item.name }}"
{% if item.description is defined %}
  Description = "{{ item.description }}"
{% endif %}
{% for run in item.run %}
  Run = {{ run }}
{% endfor %}
}
{% else %}
# This file is not enabled.
{% endif %}
