{{ ansible_managed | comment }}
[commands]
upgrade_type = {{ auto_update_update_cmd }}
random_sleep = {{ auto_update_random_sleep }}
download_updates = {{ auto_update_download_updates }}
apply_updates = {{ auto_update_apply_updates }}
