{{ ansible_managed | comment }}

local_events = {{ auditd_local_events }}
write_logs = {{ auditd_write_logs }}
log_file = {{ auditd_log_file }}
log_group = {{ auditd_log_group }}
log_format = {{ auditd_log_format }}
flush = {{ auditd_flush }}
freq = {{ auditd_freq }}
max_log_file = {{ auditd_max_log_file }}
num_logs = {{ auditd_num_logs }}
priority_boost = {{ auditd_priority_boost }}
name_format = {{ auditd_name_format }}
max_log_file_action = {{ auditd_max_log_file_action }}
space_left = {{ auditd_space_left }}
space_left_action = {{ auditd_space_left_action }}
verify_email = {{ auditd_verify_email }}
action_mail_acct = {{ auditd_action_mail_acct }}
admin_space_left = {{ auditd_admin_space_left }}
admin_space_left_action = {{ auditd_admin_space_left_action }}
disk_full_action = {{ auditd_disk_full_action }}
disk_error_action = {{ auditd_disk_error_action }}
use_libwrap = {{ auditd_use_libwrap }}
tcp_listen_queue = {{ auditd_tcp_listen_queue }}
tcp_max_per_addr = {{ auditd_tcp_max_per_addr }}
tcp_client_max_idle = {{ auditd_tcp_client_max_idle }}
enable_krb5 = {{ auditd_enable_krb5 }}
krb5_principal = {{ auditd_krb5_principal }}
distribute_network = {{ auditd_distribute_network }}
