# {{ ansible_managed }}

# Based on https://docs.bareos.org/Configuration/FileDaemon.html

Messages {
  Name = {{ item.name }}
  Director = {{ item.director }}
  Description = {{ item.description }}
}
