{{ ansible_managed | comment }}

{% for export in nfsserver_exports %}
{{ export.share }} {% for host in export.hosts %}{{ host.name }}({% for option in host.options %}{{ option }}{% if not loop.last %},{% endif %}{% endfor %}) {% endfor %}{% endfor %}
