#!{{ scripts_shell }}

{{ ansible_managed | comment }}

cd {{ item.directory }}
while true ; do
{% for line in item.lines %}
  {{ line }}
{% endfor %}
{% if item.sleep is defined %}
  sleep {{ item.sleep }}
{% endif %}
done
