{{ ansible_managed | comment }}
anonymous_enable={{ vsftpd_anonymous_enable | ansible.builtin.ternary('YES', 'NO') }}
local_enable={{ vsftpd_local_enable | ansible.builtin.ternary('YES', 'NO') }}
write_enable={{ vsftpd_write_enable | ansible.builtin.ternary('YES', 'NO') }}
local_umask={{ vsftpd_local_umask }}
anon_upload_enable={{ vsftpd_anon_upload_enable | ansible.builtin.ternary('YES', 'NO') }}
anon_mkdir_write_enable={{ vsftpd_anon_mkdir_write_enable | ansible.builtin.ternary('YES', 'NO') }}
dirmessage_enable={{ vsftpd_dirmessage_enable | ansible.builtin.ternary('YES', 'NO') }}
xferlog_enable={{ vsftpd_xferlog_enable | ansible.builtin.ternary('YES', 'NO') }}
connect_from_port_20={{ vsftpd_connect_from_port_20 | ansible.builtin.ternary('YES', 'NO') }}
chown_uploads={{ vsftpd_chown_uploads | ansible.builtin.ternary('YES', 'NO') }}
chown_username={{ vsftpd_chown_username }}
xferlog_file={{ vsftpd_xferlog_file }}
xferlog_std_format={{ vsftpd_xferlog_std_format | ansible.builtin.ternary('YES', 'NO') }}
idle_session_timeout={{ vsftpd_idle_session_timeout }}
data_connection_timeout={{ vsftpd_data_connection_timeout }}
nopriv_user={{ vsftpd_nopriv_user }}
async_abor_enable={{ vsftpd_async_abor_enable | ansible.builtin.ternary('YES', 'NO') }}
ascii_upload_enable={{ vsftpd_ascii_upload_enable | ansible.builtin.ternary('YES', 'NO') }}
ascii_download_enable={{ vsftpd_ascii_download_enable | ansible.builtin.ternary('YES', 'NO') }}
ftpd_banner={{ vsftpd_ftpd_banner }}
deny_email_enable={{ vsftpd_deny_email_enable | ansible.builtin.ternary('YES', 'NO') }}
banned_email_file={{ vsftpd_banned_email_file }}
chroot_local_user={{ vsftpd_chroot_local_user | ansible.builtin.ternary('YES', 'NO') }}
chroot_list_enable={{ vsftpd_chroot_list_enable | ansible.builtin.ternary('YES', 'NO') }}
chroot_list_file={{ vsftpd_chroot_list_file }}
ls_recurse_enable={{ vsftpd_ls_recurse_enable | ansible.builtin.ternary('YES', 'NO') }}
listen={{ vsftpd_listen | ansible.builtin.ternary('YES', 'NO') }}
listen_ipv6={{ vsftpd_listen_ipv6 | ansible.builtin.ternary('YES', 'NO') }}
pam_service_name={{ vsftpd_pam_service_name }}
userlist_enable={{ vsftpd_userlist_enable | ansible.builtin.ternary('YES', 'NO') }}
