{{ ansible_managed | comment }}

# $OpenBSD: ntpd.conf,v 1.14 2015/07/15 20:28:37 ajacoutot Exp $
#
# See ntpd.conf(5) and /etc/examples/ntpd.conf

# servers pool.ntp.org
sensor *
constraints from "https://www.google.com"
{% for interface in ntp_interfaces %}
interface listen {{ interface.address }}
{% endfor %}

{% for ntp_server in ntp_pool %}
pool {{ ntp_server.name }}
{% endfor %}
